/*---------- common ----------*/
/*---------------------------

        gamelobby

---------------------------*/
.gamePage {
  position: relative;
  min-height: 100vh;
  background: -webkit-radial-gradient(center, ellipse, #99958d 0%, #0d0b0b 100%);
  background: -o-radial-gradient(center, ellipse, #99958d 0%, #0d0b0b 100%);
  background: radial-gradient(ellipse at center, #99958d 0%, #0d0b0b 100%);
  background-attachment: fixed; }
  .gamePage:after {
    content: '';
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    height: 505px;
    background: url(../images/lobby/gameBg.png) no-repeat center center;
    z-index: 1; }
  .gamePageBox {
    display: flex;
    display: -webkit-flex;
    position: relative;
    z-index: 2;
    margin: 0 auto;
    padding: 10px 0;
    width: 96%;
    max-width: 1200px; }
    .gamePageBox:after {
      content: '';
      display: block;
      clear: both; }

[class*="icon-tab-"] {
  display: block;
  width: 30px;
  height: 30px;
  background-image: url(../images/lobby/icon-sideTab.svg);
  background-size: 100% auto;
  background-position: 0 0;
  background-repeat: no-repeat; }

.icon-tab-fav {
  background-position: 0 0; }

.icon-tab-rb {
  background-position: 0 -30px; }

.icon-tab-cg {
  background-position: 0 -60px; }

.icon-tab-sp {
  background-position: 0 -90px; }

.icon-tab-eg {
  background-position: 0 -120px; }

.icon-tab-lt {
  background-position: 0 -150px; }  

 @font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
} 

/*@font-face {
  font-family: 'FontAwesome';
  src: url('fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}*/


[class*="icon-fa-"]{
  /* display: inline-block; */
  width: 30px;
  height: 30px;

}

[class*="icon-fa-"]:before {
  content: '';
  font: normal normal normal 14px/1 FontAwesome;
  font-family: FontAwesome !important;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  /* height: 30px; */
  font-size: 15px;

}

.icon-fa-heart:before{
  content: "\f004";
} 
.icon-fa-heart-o:before{
  content: "\f08a";
}  




.gameTabs {
  margin-top: 16px;
  width: 72px; }
  .gameTabs a {
    display: block;
    margin: 0 0 4px auto;
    padding: 8px 0;
    width: 64px;
    text-align: center;
    font-size: 14px;
    color: #c8ae81;
    background: #373636;
    border-radius: 4px 0 0 4px;
    border: 1px solid #373636;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transform-origin: right;
    -webkit-transition: all .25s ease;
    transition: all .25s ease; }
  .gameTabs [class*="icon-tab-"] {
    margin: 0 auto 4px; }
  .gameTabs a > * {
    opacity: .6; }
  .gameTabs a.cur {
    width: 72px;
    background: #1d1a1a;
    border: 1px solid #9c8866; }
  .gameTabs a.cur > * {
    opacity: 1; }

.gamePanel {
    position: relative;
    padding: 36px 0;
    width: calc(100% - 72px);
    /*height: calc(100vh - 36px);*/

    overflow-y: auto;
    border: 1px solid #9c8866;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: rgba(26, 23, 23, 0.8);
}
@media (min-width: 900px) {
    .gamePanel {
        height: calc(100% - 36px);
    }
}

@media (max-width: 899px) {
    .gamePanel {
        /*height: calc(100% - 36px);*/
        mia-height: 500px!important;
    }
}



.gamePanel-inner {
    position: relative;
    margin: 0 36px;
}
  .gamePanel .gameSearchBox {
    position: absolute;
    /*top: 100px;*/
    right: 0;
    z-index: 2; }
    .gamePanel .gameSearchBox .inner-box {
      position: relative; }
    .gamePanel .gameSearchBox .fa.fa-search {
      position: absolute;
      top: 7px;
      right: 10px;
      font-size: 20px;
      color: #9c8866;
      cursor: pointer;
      transform: rotateY(180deg);
      cursor: pointer; }
    .gamePanel .gameSearchBox input[type="text"] {
      margin: 0;
      padding: 0 40px 0 20px;
      height: 36px;
      line-height: 36px;
      border-radius: 50px;
      background-color: rgba(255, 255, 255, 0.1);
      border-color: rgba(255, 255, 255, 0); }
      .gamePanel .gameSearchBox input[type="text"]:focus {
        border: 1px solid #9c8866;
        box-shadow: none; }
  .gamePanel h2 {
    position: relative;
    margin: 0 0 36px;
    font-size: 32px;
    color: #fff; }
    .gamePanel h2:before {
      display: inline-block;
      vertical-align: top;
      margin-right: 16px;
      content: '';
      width: 4px;
      height: 32px;
      border-radius: 8px;
      background: #9c8866; }
  .gamePanel section {
    display: none; }
  .gamePanel section.cur {
    display: block; }

.gameList {
display: inline-flex;
flex-wrap: wrap;
width: 100%; }

.gameList .addFavorite{
  position: absolute;
  right: 8px;
  bottom: 6px;
  z-index: 3;

}


.gameList .addFavorite .icon-fa-heart-o:before{
  transition: all .3s ease;

}
.gameList .addFavorite .icon-fa-heart-o:hover:before{
  content: "\f004";
} 

.gameList .addFavorite .icon-fa-heart-o.icon-fa-heart:before{
  content: "\f004";
}

.gameList .addFavorite .icon-fa-heart-o.icon-fa-heart:hover:before{
  content: "\f08a";
}


  .gameList figure {
    position: relative;
    margin: 0 10px 24px;
    width: calc(100% / 3 - 20px);
    cursor: pointer; }
    .gameList figure .img-box {
      display: block;
      position: relative;
      height: 150px;
      background: -webkit-gradient(linear, left top, left bottom, from(#6e6662), to(#3b3232));
      background: -webkit-linear-gradient(top, #6e6662 0%, #3b3232 100%);
      background: -o-linear-gradient(top, #6e6662 0%, #3b3232 100%);
      background: linear-gradient(to bottom, #6e6662 0%, #3b3232 100%);
      border: 1px solid #998c7a;
      border-radius: 5px;
      box-sizing: border-box;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      overflow: hidden; }
      .gameList figure .img-box:after {
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 150px 0 0 340px;
        border-color: transparent transparent transparent rgba(255, 255, 255, 0.1); }
      .gameList figure .img-box .kv {
        position: relative;
        z-index: 2;
        height: 100%;
        transform: scale(1, 1);
        transition: all .75s ease; }
        .gameList figure .img-box .kv > img {
          display: block;
          width: auto;
          height: 100%; }
      .gameList figure .img-box .logo {
        position: absolute;
        top: 46%;
        transform: translateY(-50%);
        right: 16px;
        width: 30%;
        max-width: 100px;
        z-index: 3; }

        .gameList figure .img-box .logo > img {
          display: block;
          width: 100%; }
    .gameList figure:hover .img-box {
      background: #978377; }
      .gameList figure:hover .img-box .kv {
        transform: scale(1.08, 1.08); }
    .gameList figure figcaption {
      padding: 8px 0;
      text-align: left;
      font-size: 14px;
      color: #fff; 
      padding-left: 4px;
    }

.gameList.game figure {
  width: calc(100% / 6 - 20px); }
  .gameList.game figure .img-box {
    width: 100%;
    height: auto;
    background: #000;
    transition: all .5s ease; }
    .gameList.game figure .img-box:after {
      display: none; }
    .gameList.game figure .img-box > img {
      width: 100%;
      display: block;
      transform: scale(1, 1);
      transition: all .75s ease; }
  .gameList.game figure:hover .img-box {
    opacity: .7;
    background: #000; }

.gameList-sub-panel {
  display: none; }
  .gameList-sub-panel h3 {
    margin: 0 0 24px;
    font-size: 24px;
    color: #fff; }

@media screen and (max-width: 1200px) {
  .gameList.game figure {
    width: calc(100% / 5 - 20px); } }
@media screen and (max-width: 960px) {
  .gameList.brand figure {
    width: calc(100% / 2 - 20px); }

  .gameList.game figure {
    width: calc(100% / 4 - 20px); } }
@media screen and (max-width: 768px) {
  .gameList.game figure {
    width: calc(100% / 3 - 20px); } }

@media screen and (max-width: 640px) {
  .gameTabs {
    width: 68px; }
    .gameTabs a {
      width: 60px; }
    .gameTabs a.cur {
      width: 68px; }

  .gamePanel {
    padding: 24px 0;
    width: calc(100% - 68px);
    /*height: calc(100vh - 24px);*/ }
    .gamePanel-inner {
      margin: 0 12px; }
    .gamePanel .gameSearchBox {
      position: absolute;
      top: 4px;
      right: 0;
      width: 45%;
      z-index: 2; }
    .gamePanel h2 {
      margin: 0 0 20px;
      padding: 8px 0;
      font-size: 24px; }
      .gamePanel h2:before {
        margin-right: 8px;
        height: 24px; }

  .gameList-sub-panel h3 {
    font-size: 16px; }

  .gameList.brand figure {
    margin: 0 0 10px;
    width: 100%; }

    .gameList.brand figure .img-box {
      height: 120px; }
    .gameList.brand figure figcaption {
      position: absolute;
      /* right: 0; */
      left: 0;
      bottom: 0;
      z-index: 5;
      padding: 8px 8px;
      text-align: right;
     }

  .gameList.game figure {
    width: calc(100% / 3 - 20px); }
    
  .gameList figure .img-box::before{
      content: '';
      display: block;
      /* background: linear-gradient(to bottom, #6e6662 0%, #3b3232 100%); */
      background: linear-gradient( to left, rgba(59, 50, 50, 1) 0%,  rgba(59, 50, 50, 1) 30%,
       rgba(110, 102, 98, 0) 75%);
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 3;



    }
  }

@media screen and (max-width: 480px) {
  .gameList.game figure {
    margin: 0 10px 10px;
    width: calc(100% / 2 - 20px); } }

/*# sourceMappingURL=gamelobby.css.map */
