<?xml version="1.0"?>
<configuration>
  <system.web>
    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" culture="Auto" uiCulture="Auto"/>
    <authorization>
      <!-- <deny users="?"/> -->
      <allow users="*"/>
    </authorization>
    <authentication mode="Forms">
      <forms name=".ASPXAUTH" enableCrossAppRedirects="true" loginUrl="Login.aspx" protection="All" path="/"/>
    </authentication>
    <machineKey validationKey="376B3C89CE21F451422AA9B8A5C42D4E8DB8CB52DA1742572A483D9401E3F6A267682B202B746511891C1BAF47F8D25267F6C39A696696DB534152529AD3CABE" decryptionKey="1B93A2EE67AF697076D20198CFEA57DD3D3769377B04962C" validation="SHA1"/>
    <httpRuntime targetFramework="4.7.1" requestValidationType="RequestValidatorDisabled" executionTimeout="110" maxRequestLength="100000"/>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.7.1">
      <assemblies>
        <add assembly="System.IO.Compression, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Numerics, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="Microsoft.CSharp, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Net.Http, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <pages buffer="true" enableSessionState="true" enableViewState="true" enableViewStateMac="true" autoEventWireup="true" validateRequest="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces>
        <clear/>
        <add namespace="System"/>
        <add namespace="System.Collections"/>
        <add namespace="System.Collections.Specialized"/>
        <add namespace="System.Configuration"/>
        <add namespace="System.Text"/>
        <add namespace="System.Text.RegularExpressions"/>
        <add namespace="System.Web"/>
        <add namespace="System.Web.Caching"/>
        <add namespace="System.Web.SessionState"/>
        <add namespace="System.Web.Security"/>
        <add namespace="System.Web.Profile"/>
        <add namespace="System.Web.UI"/>
        <add namespace="System.Web.UI.WebControls"/>
        <add namespace="System.Web.UI.WebControls.WebParts"/>
        <add namespace="System.Web.UI.HtmlControls"/>
      </namespaces>
    </pages>
    <customErrors mode="Off" defaultRedirect="GenericErrorPage.htm">
      <error statusCode="403" redirect="NoAccess.htm"/>
      <error statusCode="404" redirect="FileNotFound.htm"/>
    </customErrors>
    <webServices>
      <protocols>
        <add name="HttpSoap12"/>
        <add name="HttpSoap"/>
        <add name="HttpPost"/>
        <add name="HttpGet"/>
        <add name="HttpPostLocalhost"/>
        <add name="Documentation"/>
      </protocols>
    </webServices>
  </system.web>
  <connectionStrings>
    <clear/>
    <add name="DBConnStr" connectionString="Data Source=172.16.16.34,1433;Network Library=DBMSSOCN;Initial Catalog=EWinWeb;User ID=sa;Password=1sqaaz@wsx;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="IsTestSite" value="true"/>
    <add key="TimeZone" value="0"/>
    <add key="Key" value="BEIA17686595176951"/>
    <add key="PrivateKey" value="246f2842-aef4-4466-884d-d422489f92df"/>
    <add key="WebRedisConnStr" value="172.16.16.34:6384,abortConnect=False,ssl=False"/>
    <add key="CompanyCode" value="BIAN"/>
    <add key="AllowAksoDeposit" value="1"/>
    <add key="AksoDepositLimit" value="100,1000"/>
    <add key="AllowAksoWithDrawal" value="0"/>
    <add key="AksoWithDrawalLimit" value="1000,10000"/>
    <add key="EWinUrl" value="http://ewin.dev.mts.idv.tw"/>
    <add key="EWinWebUrl" value="http://web-ewin.dev.mts.idv.tw/"/>
    <add key="EWin.LoginAPI" value="http://ewin.dev.mts.idv.tw/API/LoginAPI.asmx"/>
    <add key="GameAPI.GameAPI" value="http://ewin.dev.mts.idv.tw/API/GameAPI.asmx"/>
    <add key="EWin.Lobby.LobbyAPI" value="http://ewin.dev.mts.idv.tw/API/LobbyAPI.asmx"/>
    <add key="EWin.EWinWeb.EWinWeb" value="http://ewin.dev.mts.idv.tw/API/Partner/EWinWeb.asmx"/>
    <add key="EWin.Payment.PaymentAPI" value="http://ewin.dev.mts.idv.tw/API/PaymentAPI.asmx"/>
    <add key="EPayToken" value="2e66d516-ebcd-11ec-8ea0-0242ac120002"/>
    <add key="MainCurrencyType" value="KRW"/>
    <add key="ConvertCurrencyType" value="KRW"/>
    <add key="RegisterCurrencyType" value="KRW"/>
    <add key="MainPersonCode" value="S93615797299145"/>
  <add key="EWin.OCW.OCW" value="https://ewin.dev.mts.idv.tw/API/Partner/OCW.asmx"/>
  </appSettings>
  <system.webServer xmlns="">
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By"/>
        <add name="Access-Control-Allow-Origin" value="*"/>
        <add name="Access-Control-Allow-Credentials" value="true"/>
        <add name="Access-Control-Allow-Methods" value="OPTION, GET, POST"/>
        <add name="Access-Control-Allow-Headers" value="Content-Type"/>
        <add name="Server" value="httpd_1.0/FreeBSD"/>
      </customHeaders>
    </httpProtocol>
    <staticContent>
      <remove fileExtension=".apk"/>
      <mimeMap fileExtension=".apk" mimeType="application/vnd.android.package-archive"/>
      <remove fileExtension=".json"/>
      <mimeMap fileExtension=".json" mimeType="application/json"/>
      <remove fileExtension=".m3u8"/>
      <mimeMap fileExtension=".m3u8" mimeType="application/x-mpegURL"/>
      <remove fileExtension=".mem"/>
      <mimeMap fileExtension=".mem" mimeType="application/octet-stream"/>
    </staticContent>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
  <runtime xmlns="">
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="819200000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>